
.animation, .animation_layer {
	height: 100vh;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#logoland {
  background-repeat: no-repeat;
  background-size: 200px;
  margin-top: -300px;
  background-image: url(../assets/sun.svg);
}
 
#mountain {
  background-repeat: no-repeat;
  background-size: 80% auto;
  fill: rgb(95, 80, 58);

  background-image: url(../assets/mountain_layer_two.svg);
}

#jungle5 {
  background-size: 100% auto;
  background-image: url(../assets/mountain_layer_one.svg);
  position: fixed;
}